{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <title>Xton - eCommerce HTML Template</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  </head>
  <body>
    <main class="container d-flex flex-column justify-content-center vh-100 vw-100">
      <h1 class="text-center">Edit</h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form method="POST" class="d-flex flex-column g-3">
            {% csrf_token %} 
            {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-5">Update</button>
                  <a href={% url 'home' %} class='text-center'>
                <button class="btn btn-primary mt-5">Home</button>
              </a>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
